main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.time{
    width: 20vw;
    padding: 1rem;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 80vw;
    padding: 1rem;
}

.social_media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.link a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.link a img{
    width: 20%;
}

.link a p{
    width: 80%;
}

.my_sites{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.coding_sites{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

#time-24-hour{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time-12-hour{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}