@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.dark-mode {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.heading {
    font-size: 1.6rem;
    padding: 1rem;
}